body{
    background-color:grey;
      }
    #title{
      text-align:center;
    }
    html{
      font-size:15px;
    }
    body{
      font-family:monospace, helvetica, algerian;
    font-size:1.4em;
    line-height:2;
    text-align:center;
    color:#255;
    margin:0;
    }
    
    h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }
    
    @media (max-width: 460px) {
      h1 {
        font-size: 3.5rem;
        line-height: 1.2;
      }
    }
    
    h2 {
      font-size: 3.25rem;
    }
    
    a {
      color: #477ca7;
    }
    
    a:visited {
      color: #74638f;
    }
    
    #main {
      margin: 30px 8px;
      padding: 15px;
      border-radius: 5px;
      
    }
    
    @media (max-width: 460px) {
      #main {
        margin: 4;
      }
    }
    #image{
      max-width:100%;
      height:auto;
      margin: auto;
      display:block;
     

    }
    
    #img-div {
      background: white;
      padding: 5px;
      margin: 0;
    }
    
    #img-caption {
      margin: 15px 5px 5px 5px;
      
    }
    
    @media (max-width: 460px) {
      #img-caption {
        font-size: 1.4rem;
      }
    }
    
    #headline {
      margin: 20px 0;
      text-align: center;
    }
    
    ul {
      max-width: 550px;
      margin: 0 auto 50px auto;
      text-align: left;
      line-height: 1.6;
    }
    
    li {
      margin: 16px 0;
    }
    
    blockquote {
      font-style: italic;
      max-width: 545px;
      margin: 0 auto 50px auto;
      text-align: left;
    }
    #description{
        margin:50px;
        padding-top:50px;
    }
    